@use 'breakpoints' as bp;

.nav-items {
    padding-top: 10px;

    .nav-item {
        padding: 20px 23px;
        cursor: pointer;
        display: flex;
        align-items: center;

        @media (max-width: bp.$tablet) {
            padding: 18px 18px;
        }


        &:hover {
            background-color: rgb(1, 38, 69);
            color: white;
        }

        fa-icon {
            margin-right: 20px;
            font-size: 20px;
        }

        span {
            display: inline;
        }
    }
}