.header {
    height: 70px;
    padding: 20px 25px;
    background-color: rgb(1, 38, 69);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;

    .logo {
        font-weight: bold;
        font-size: 20px;
    }

    .user {
        display: flex;
        align-items: center;
        font-weight: bold;

        .user-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: rgb(11, 107, 185);
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    }
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-icon {
    height: 20px !important;
}

.menu-icon {
    margin-right: 10px;
    cursor: pointer;
}