// Brand Colors
$primary-main: #3f51b5;
$primary-light: #7986cb;
$primary-dark: #303f9f;

$accent-main: #ff4081;

// Neutral Colors
$white: #ffffff;
$black: #000000;
$gray-100: #f5f5f5;
$gray-800: #212121;

// Status Colors
$success: #4caf50;
$error: #f44336;


// Background Colors
$light-gray: #f0f2f5;
$dark-gray: #303030;


$white: #ffffff;
$anti-flash-white: #f1f1f1;
$soft-blue: #a6d5fb;
$midnight-navy: #012645;
$platinum-grey: #e0e0e0;