/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "_breakpoints";
@import "_mixins";
@import "_color";
@import "_common";
@import "_grid";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  background-color: $light-gray;
  overflow-x: hidden;
  margin: 0px;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a6d5fb;
}

::-webkit-scrollbar-thumb:hover {
  background: #012645;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a6d5fb #f1f1f1;
}

html {
  font-size: 16px;
  // background-color: $white;

  @include tablet {
    font-size: 15px;
  }

  @include mobile {
    font-size: 14px;
  }
}

.auth-background {
  // This ensures the image covers the entire viewport
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/images/auth-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-top: 1px;
}