// Tab Adding Styles
// ::ng-deep .mat-mdc-tab-body-content {
//   padding: 16px;
//   border-top: 1px solid #e0e0e0;
// }

::ng-deep .mat-mdc-tab.mdc-tab {
    height: 35px !important;
    flex-grow: 0;
}



:host ::ng-deep {
//   .mat-mdc-tab-labels {
//     gap: 10px; // Spacing between tabs
//   }

  .mat-mdc-tab {
    border: 1px solid #ccc; // Default border for all tabs
    border-radius: 4px;
    height: 40px;
  }

  .mat-mdc-tab.mdc-tab--active {
    border: 2px solid #2196f3; // Focused border color
    background-color: #e3f2fd; // Light background for active tab
  }

  /* Hide the original underline entirely */
  .mdc-tab-indicator__content--underline {
    border-color: transparent !important;
  }
}